<!DOCTYPE html>
<html lang="en">

<head>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
   

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
     <link href="css/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>  

    <div class="brand">Welp</div>
    <div class="address-bar">One Washington Square, San Jose, CA 95192</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <%= yield %>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="application.html.erb">Welp</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="about.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                    <li>
                        <a data-placement="bottom" data-toggle="popover1" data-title="Sign up" data-container="body" type="bottom" data-html="true" id="signup" href="#">Sign up</a>
                    </li>
                        <div id="popover-content1" class="hide">
                          <form class="" role="form">
                            <div class="form-group">
                              <input class="form-control" name="name" id="name" type="text" placeholder="Full name" title="Enter your Name" size = "35"required="">
                            </div>
                            <div class="form-group">
                              <input class="form-control" name="username" id="username" type="text" placeholder="Username or email"  data-valid-min="6" title="Username" size="35" required="">
                            </div>
                            <div class="form-group">    
                                <input class="form-control" name="password" id="password" type="password" placeholder="Create Password" title="Enter your password" maxlength="8" required="">
                            </div>  
                            <div class="form-group">    
                                <input class="form-control" name="confirmpassword" id="confirmpassword" type="password" placeholder="Confirm Password" title="Confirm Password" maxlength="8" required="">
                            </div>
                                 <button type="button" id="btnLogin" class="btn btn-default btn-block">Register</button>
                            </form>
                        </div>
                    <li>
                        <a data-placement="bottom" data-toggle="popover2" data-title="Login" data-container="body" type="button" data-html="true" href="#" id="login">Login</a>
                    </li>
                        <div id="popover-content2" class="hide">
                          <form class="" role="form">
                            <div class="form-group">
                              <input class="form-control" name="username" id="username" type="text" placeholder="Username" pattern="^[a-z,A-Z,0-9,_]{6,15}$" data-valid-min="6" title="Enter your username" required="">
                            </div>
                            <div class="form-group">    
                                <input class="form-control" name="password" id="password" type="password" placeholder="Password" title="Enter your password" required="">
                            </div>  
                                 <button type="button" id="btnLogin" class="btn btn-default btn-block">Login</button>
                            </form>
                        </div>
                    <li>
                        <div class="input-group col-md-12">
                                <input type="text" id = "input" class="  search-query form-control" placeholder="SEARCH" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                           <div class="item">
                            <%= image_tag "slide-1.jpg" %>
                            </div>
                            <div class="item">
                                 <%= image_tag "slide-2.jpg" %>
                            </div>
                            <div class="item">
                                 <%= image_tag "slide-3.jpg" %>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2>
                    <h1 class="brand-name">WELP</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>By
                            <strong>Team 2</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <hr class="visible-xs">
                    <div class="col-md-4">
                        <h2>Review 1</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                        <a class="btn btn-default" href="#">More Info</a>
                    </div>
                <!-- /.col-md-4 -->
                    <div class="col-md-4">
                        <h2>Review 2</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                        <a class="btn btn-default" href="#">More Info</a>
                    </div>
                <!-- /.col-md-4 -->
                    <div class="col-md-4">
                        <h2>Review 3</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                        <a class="btn btn-default" href="#">More Info</a>
                    </div>
            <!-- /.col-md-4 -->
                </hr>
            </div>
        </div>

        

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
 
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>


     <script>
    $("[data-toggle=popover1]").popover({
    html: true, 
    content: function() {
          return $('#popover-content1').html();
        }
    });
    </script>
     
    <script>
    $("[data-toggle=popover2]").popover({
    html: true, 
    content: function() {
          return $('#popover-content2').html();
        }
    });
    </script>


     
    

</body>

</html>
